@font-face {
    font-family: 'Shango';
    src: url('../fonts/Shango.woff') format('woff'),
         url('../fonts/Shango.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-color: #000;
    font-family: 'Arsenal', sans-serif;
    color: #FDFFF3;
    box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    max-width: 60%;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-item:not(:first-child) {
    padding-left: 4.5rem;
}
.item-link {
    color: #FDFFF3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
}
.item-link:hover {
    text-decoration: underline;
}
.main-banner {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    font-family: 'Shango', sans-serif;
    font-size: 20rem;
    margin-top: 11rem;
    margin-bottom: 4.6rem;
}
[class^="button-mobile"] {
    display: none;
}
.button-reserve {
    background: rgba(0, 0, 0, 0.6);
    color: #FDFFF3;
    border: 2px solid #FDFFF3;
    width: 40rem;
    height: 8.3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5rem;
}
.information {
    width: 100%;
    height: 16.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 17.7rem;
    background: rgba(0, 0, 0, 0.65);
    font-size: 2.5rem;
    line-height: 3.1rem;
}
.information-block h3 {
    margin-bottom: 1.5rem;
}
.tel-title {
    text-align: center;
}
.social-list {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
[class^="social-item"] {
    background-size: cover;
    width: 2rem;
    height: 2rem;
}
[class^="social-item"]:not(:first-child) {
    margin-left: 2rem;
}
.social-item--facebook {
    background-image: url(../img/icons/facebook.svg);
}
.social-item--twitter {
    background-image: url(../img/icons/twitter.svg);
}
.social-item--instagram {
    background-image: url(../img/icons/instagram.svg);
}
.social-item--telegram {
    background-image: url(../img/icons/telegram.svg);
}

.special {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16.1rem;
}
.offer {
    max-width: 30%;
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    line-height: 2.7rem;
    text-transform: uppercase;
}
.offer-img {
    display: block;
    width: 100%;
}
.offer:last-child {
    max-width: 100%;
}
.offer:not(:last-child) {
    margin-bottom: 11.3rem;
}
.offer-title {
    margin-bottom: 2rem;
}
.offer-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
}

.popular {
    background-image: url(../img/popular-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 10rem;
}
.popular-box {
    margin: 0 16.1rem;
}
.popular-title {
    font-size: 9.6rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5rem;
}
.drinks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10rem;
}
.drink {
    max-width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    box-sizing: content-box;
}
.drink:nth-child(odd) {
    margin-top: 18rem;
}
.drink:nth-child(even) {
    margin-bottom: 18rem;
}
.drink-img {
    width: 100%;
}
.drink-name {
    font-size: 2.5rem;
    padding: 2.5rem 0;
 }
 .food {
     display: none;
 }
.bar-menu {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    align-items: center;
}
.bar-menu-slider {
    display: flex;
    align-items: center;
}
.bar-menu-title {
    font-size: 9.6rem;
    text-transform: uppercase;
}
.arrow {
    width: 10rem;
    height: 10rem;
    border: none;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-color: transparent;
}
.right {
    transform: rotate(180deg);
}
.bar-menu-img {
    padding: 5% 10%;
}
.yandex-map {
    max-width: 100vw;
    margin: 0;
}
.map-adress {
    text-align: center;
    font-size: 2rem;
    line-height: 5rem;
}

.footer {
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.footer-logo{
    display: block;
    max-width: 30rem;
    margin: auto;
    margin-bottom: 5rem;
}
.footer-menu {
    max-width: 55%;
    margin: auto;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
}
.footer-information {
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    margin: 10rem 0;
}
.email {
    text-align: right;
}
.email-link, .tel-link {
    text-decoration: none;
    color: #FDFFF3;
}
.footer-social {
    display: flex;
    justify-content: center;
}
.footer-social-item {
    background-size: cover;
    width: 4rem;
    height: 4rem;
}
.footer-social-item:not(:first-child) {
    margin-left: 4rem;
}
.footer-information-mobile {
    display: none;
}

@media (max-width: 720px) {
  
    body {
      max-width: 72rem;
      min-width: 32rem;
    }
    .nav-menu {
        display: none;
    }
    .logo-box {
        margin: auto;
    }
    .logo {
        max-width: 100%;
    }
    .main-banner {
        background-image: url(../img/banner-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        padding: 6rem 5rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .name {
        display: none;
    }
    .information {
        display: none;
    }
    [class^="button"] {
        display: inline-block;
        background: rgba(0, 0, 0, 0.8);
        color: #FDFFF3;
        border: 2px solid #FDFFF3;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 8rem;
        margin-left: auto;
        margin-right: auto;
    }
    .button-reserve, .button-mobile--adress {
        width: 56rem;
        padding: 1.5rem 6rem;
    }
    .button-mobile--bar-menu, .button-mobile--main-menu {
        padding: 1rem 0;
        width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
    [class^="linebreak"] {
        display: block;
        font-size: 1.6rem;
    }
    .special {
        display: none;
    }
    .popular {
        background-image: none;
    }
    .popular-title {
        display: none;
    }
    .popular-box {
        margin: 0 5rem;
    }
    .drink {
        display: none;
    }
    .drink-mobile {
        display: inline-block;
        max-width: 30%;
    }
    .drink-name {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
    }
    .food {
        display: block;
    }
    .meal{
        margin-top: 5rem;
        background-color: #fff;
        color: #000;
        text-transform: uppercase;
        box-sizing: content-box;
    }
    .meal-img {
        width: 100%;
    }
    .meal-name {
        font-size: 2rem;
        padding: 2.5rem 0;
        text-align: center;
    }
    .bar {
        display: none;
    }
    .map {
        display: none;
    }
    .footer-logo{
        display: none;
    }
    .footer-menu{
        display: none;
    }
    .footer-information{
        display: none;
    }
    .footer-information-mobile {
        display: flex;
        flex-direction: column;
        font-size: 2.5rem;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
    }
    .adress-mobile, .time-mobile, .tel-mobile {
        margin-bottom: 4rem;
    }
    .footer-social-item {
        width: 5rem;
        height: 5rem;
    }
    [class^="social-item"]:not(:first-child) {
        margin-left: 8rem;
    }
    .footer {
        background-image: url(../img/footer-mobile.jpg);
        background-repeat: no-repeat;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    @media (max-width: 599px) {    
        
          .button-reserve, .button-mobile--adress {
            height: auto;
          }

        .button-mobile--bar-menu, .button-mobile--main-menu {
            width: 56rem;
            padding: 1.5rem 6rem;
        }
        
        [class^="linebreak"] {
            display: inline;
        }
        
        .linebreak_google-maps {
            display: block;
            font-size: 1.25rem;
        }

        linebreak_google-maps

    }

    @media (max-width: 480px) {

    body {
        max-width: 48rem;
        min-width: 32rem;
      }
      .main-banner {
          padding: 5rem 3rem;
      }
      [class^="button"] {
          font-size: 2rem;
          text-align: center;
      }
      .button-reserve, .button-mobile--adress {
          padding: 1rem 4rem;
      }
      /* 
      .button-mobile--bar-menu, .button-mobile--main-menu {
          padding: 1rem 0;
          width: 25rem;
      } */
      .drink-name {
          font-size: 1.5rem;
          padding: 1rem;
      }
      .food {
          display: block;
      }
      .meal-name {
          font-size: 1.5rem;
          padding: 2rem 0;
      }
      .drinks {
          margin-top: 0rem;
      }
      .drink:nth-child(odd) {
          margin-top: 10rem;
      }
      .drink:nth-child(even) {
          margin-bottom: 10rem;
      }
      .popular-box {
          margin: 0 3rem;
      }
      .footer-information-mobile {
          font-size: 1.5rem;
      }
      .footer-social-item {
          width: 4rem;
          height: 4rem;
      }
      [class^="social-item"]:not(:first-child) {
          margin-left: 5rem;
      }

    }
